/dist/
/i1ProAdapter.egg-info/
i1ProAdapter-0.9-py3.8-macosx-10.15-x86_64.egg
meter/i1ProAdapter.egg-info/dependency_links.txt
meter/i1ProAdapter.egg-info/PKG-INFO
meter/i1ProAdapter.egg-info/SOURCES.txt
meter/i1ProAdapter.egg-info/top_level.txt
Pipfile
.dat.nosync*
