/dist/
/i1ProAdapter.egg-info/
i1ProAdapter-0.9-py3.8-macosx-10.15-x86_64.egg
eieio/meter/i1ProAdapter.egg-info/dependency_links.txt
eieio/meter/i1ProAdapter.egg-info/PKG-INFO
eieio/meter/i1ProAdapter.egg-info/SOURCES.txt
eieio/meter/i1ProAdapter.egg-info/top_level.txt
Pipfile
.dat.nosync*
eieio/meter/sekonic/clean_bottom_blue.png
eieio/meter/sekonic/clean_bottom_red.png
eieio/meter/sekonic/clean_grid.png
eieio/meter/sekonic/clean_slice.png
eieio/meter/xrite/dist
eieio/meter/xrite/i1ProAdapter.egg-info
gridless_HMI.png
eieio/meter/sekonic/wpd_output/gridless_HMI_Default Dataset.csv
eieio/meter/sekonic/wpd_output/gridless_HMI_project.json
